[submodule "bundles/telnet-networking"]
	path = bundles/telnet-networking
	url = https://github.com/RanvierMUD/telnet-networking
[submodule "bundles/ranvier-webhooks"]
	path = bundles/ranvier-webhooks
	url = https://github.com/azigler/ranvier-webhooks
[submodule "bundles/ranvier-datasource-couchdb"]
	path = bundles/ranvier-datasource-couchdb
	url = https://github.com/azigler/ranvier-datasource-couchdb
[submodule "bundles/ranvier-zpanel"]
	path = bundles/ranvier-zpanel
	url = https://github.com/azigler/ranvier-zpanel
